.lw { font-size: 60px; }

body{
  background: #f5f5f5;  /* 好きな背景色 */
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

img{
  display: block;
  margin: 0 auto;
}




h1 {
  text-align: center;
}
